@font-face {
	font-family: a15bit;
	src: url(/client/font/a_15_bit/A-15-BIT.ttf);
}

@font-face {
	font-family: bitcube;
	src: url(/client/font/bitcube/bitcube.ttf);
}

html, body {
	margin: 0;
  padding: 0;
	width: 100%;
  height: 100%;
	background-color: #fff;
	overflow: hidden;
}

#startMenuWrapper,
#particles-js {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#particles-js {
	position: absolute;
}

#menuCard {
	width: 303px;
	/*border: 5px solid black;*/
  background-color: #eee;
}

.bitshadow-grey {
	box-shadow: 0 4px #eee, 0 -4px #eee, 4px 0 #eee, -4px 0 #eee, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
}

.bitborder {
  box-shadow: 4px 0 white, -4px 0 white, 0 -4px white, 0 4px white, 8px 0 black, -8px 0 black, 0 -8px black, 0 8px black, 0 0 0 4px black;
  margin: 8px auto;
}

#usernameInput,
#emailInput,
#passwordInput {
	box-shadow: 4px 0 #eee, -4px 0 #eee, 0 -4px #eee, 0 4px #eee, 8px 0 black, -8px 0 black, 0 -8px black, 0 8px black, 0 0 0 4px black;
  margin: 8px auto;
	border: none;
	font-family: a15bit;
	font-size: 20px;
}

#startMenuWrapper h2 {
	padding: 0;
	text-align: center;
	font-family: a15bit;
	/*font-weight: bold;*/
}

#start {
	height: 380px;
}

#gameWrapper {
	height: 800px;
}

canvas {
	width: 100%;
  margin: 0;
  padding: 0;
}

.card {
  height: auto;
  min-height: 250px;
	background: #eee;
	border-radius: 0;
}

#controls,
#login {
	padding: 20px;
	font-family: a15bit;
}

#controls h3 {
	font-size: 50px;
	margin-bottom: 30px;
}

#controls h3 {
	font-size: 45px;
}

#controls h5 span {
	font-family: bitcube;
	font-size: 50px;
}

#login h3 {
	margin: 0;
	font-size: 30px;
}

.card .card-content {
  width: 100%;
}

.color-circle {
	position: absolute;
	right: 20px;
	top: 73px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	z-index: 1;
}

.card h4 {
	text-align: center;
	font-family: a15bit;
}

.activator {
  cursor: pointer;
}

.color-list {
  padding-left: 20px;
  /*margin: auto;*/
	display: block;
	text-align: center;
}

.color-list li {
  display: inline-block;
	border-radius: 0;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding-left: 55px;
  height: 35px;
	border-radius: 0;
}

/*[type="radio"]:hover+label:before, [type="radio"]:checked+label:before {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}*/

[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:after {
	border-radius: 0;
	border: none;
}

[type="radio"]+label:before, [type="radio"]+label:after {
	padding: 0;
  width: 20px;
  height: 20px;
	border-radius: 0;
}

[type="radio"].red:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #f44336;
	border: none;
	box-shadow: 3px 0 #f44336, -3px 0 #f44336, 0 -3px #f44336, 0 3px #f44336, 6px 0 #f44336, -6px 0 #f44336, 0 -6px #f44336, 0 6px #f44336, 0 0 0 3px #f44336, 9px 0 #f44336, -9px 0 #f44336, 0 9px #f44336, 0 -9px #f44336, 0 -3px 0 3px #f44336, 0 3px 0 3px #f44336, 3px 0 0 3px #f44336, -3px 0 0 3px #f44336;
}

[type="radio"].red:not(:checked)+label:before, [type="radio"].red:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #f44336, -9px 0 #f44336, 0 9px #f44336, 0 -9px #f44336, 0 -3px 0 3px #f44336, 0 3px 0 3px #f44336, 3px 0 0 3px #f44336, -3px 0 0 3px #f44336;
}

[type="radio"].pink:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #e91e63;
	box-shadow: 3px 0 #e91e63, -3px 0 #e91e63, 0 -3px #e91e63, 0 3px #e91e63, 6px 0 #e91e63, -6px 0 #e91e63, 0 -6px #e91e63, 0 6px #e91e63, 0 0 0 3px #e91e63, 9px 0 #e91e63, -9px 0 #e91e63, 0 9px #e91e63, 0 -9px #e91e63, 0 -3px 0 3px #e91e63, 0 3px 0 3px #e91e63, 3px 0 0 3px #e91e63, -3px 0 0 3px #e91e63;
}

[type="radio"].pink:not(:checked)+label:before, [type="radio"].pink:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #e91e63, -9px 0 #e91e63, 0 9px #e91e63, 0 -9px #e91e63, 0 -3px 0 3px #e91e63, 0 3px 0 3px #e91e63, 3px 0 0 3px #e91e63, -3px 0 0 3px #e91e63;
}

[type="radio"].purple:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #9c27b0;
	box-shadow: 3px 0 #9c27b0, -3px 0 #9c27b0, 0 -3px #9c27b0, 0 3px #9c27b0, 6px 0 #9c27b0, -6px 0 #9c27b0, 0 -6px #9c27b0, 0 6px #9c27b0, 0 0 0 3px #9c27b0, 9px 0 #9c27b0, -9px 0 #9c27b0, 0 9px #9c27b0, 0 -9px #9c27b0, 0 -3px 0 3px #9c27b0, 0 3px 0 3px #9c27b0, 3px 0 0 3px #9c27b0, -3px 0 0 3px #9c27b0;
}

[type="radio"].purple:not(:checked)+label:before, [type="radio"].purple:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #9c27b0, -9px 0 #9c27b0, 0 9px #9c27b0, 0 -9px #9c27b0, 0 -3px 0 3px #9c27b0, 0 3px 0 3px #9c27b0, 3px 0 0 3px #9c27b0, -3px 0 0 3px #9c27b0;
}

[type="radio"].deep-purple:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #673ab7;
	box-shadow: 3px 0 #673ab7, -3px 0 #673ab7, 0 -3px #673ab7, 0 3px #673ab7, 6px 0 #673ab7, -6px 0 #673ab7, 0 -6px #673ab7, 0 6px #673ab7, 0 0 0 3px #673ab7, 9px 0 #673ab7, -9px 0 #673ab7, 0 9px #673ab7, 0 -9px #673ab7, 0 -3px 0 3px #673ab7, 0 3px 0 3px #673ab7, 3px 0 0 3px #673ab7, -3px 0 0 3px #673ab7;
}

[type="radio"].deep-purple:not(:checked)+label:before, [type="radio"].deep-purple:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #673ab7, -9px 0 #673ab7, 0 9px #673ab7, 0 -9px #673ab7, 0 -3px 0 3px #673ab7, 0 3px 0 3px #673ab7, 3px 0 0 3px #673ab7, -3px 0 0 3px #673ab7;
}

[type="radio"].indigo:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #3f51b5;
	box-shadow: 3px 0 #3f51b5, -3px 0 #3f51b5, 0 -3px #3f51b5, 0 3px #3f51b5, 6px 0 #3f51b5, -6px 0 #3f51b5, 0 -6px #3f51b5, 0 6px #3f51b5, 0 0 0 3px #3f51b5, 9px 0 #3f51b5, -9px 0 #3f51b5, 0 9px #3f51b5, 0 -9px #3f51b5, 0 -3px 0 3px #3f51b5, 0 3px 0 3px #3f51b5, 3px 0 0 3px #3f51b5, -3px 0 0 3px #3f51b5;
}

[type="radio"].indigo:not(:checked)+label:before, [type="radio"].indigo:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #3f51b5, -9px 0 #3f51b5, 0 9px #3f51b5, 0 -9px #3f51b5, 0 -3px 0 3px #3f51b5, 0 3px 0 3px #3f51b5, 3px 0 0 3px #3f51b5, -3px 0 0 3px #3f51b5;
}

[type="radio"].blue:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #2196f3;
	box-shadow: 3px 0 #2196f3, -3px 0 #2196f3, 0 -3px #2196f3, 0 3px #2196f3, 6px 0 #2196f3, -6px 0 #2196f3, 0 -6px #2196f3, 0 6px #2196f3, 0 0 0 3px #2196f3, 9px 0 #2196f3, -9px 0 #2196f3, 0 9px #2196f3, 0 -9px #2196f3, 0 -3px 0 3px #2196f3, 0 3px 0 3px #2196f3, 3px 0 0 3px #2196f3, -3px 0 0 3px #2196f3;
}

[type="radio"].blue:not(:checked)+label:before, [type="radio"].blue:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #2196f3, -9px 0 #2196f3, 0 9px #2196f3, 0 -9px #2196f3, 0 -3px 0 3px #2196f3, 0 3px 0 3px #2196f3, 3px 0 0 3px #2196f3, -3px 0 0 3px #2196f3;
}

[type="radio"].light-blue:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #03a9f4;
	box-shadow: 3px 0 #03a9f4, -3px 0 #03a9f4, 0 -3px #03a9f4, 0 3px #03a9f4, 6px 0 #03a9f4, -6px 0 #03a9f4, 0 -6px #03a9f4, 0 6px #03a9f4, 0 0 0 3px #03a9f4, 9px 0 #03a9f4, -9px 0 #03a9f4, 0 9px #03a9f4, 0 -9px #03a9f4, 0 -3px 0 3px #03a9f4, 0 3px 0 3px #03a9f4, 3px 0 0 3px #03a9f4, -3px 0 0 3px #03a9f4;
}

[type="radio"].light-blue:not(:checked)+label:before, [type="radio"].light-blue:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #03a9f4, -9px 0 #03a9f4, 0 9px #03a9f4, 0 -9px #03a9f4, 0 -3px 0 3px #03a9f4, 0 3px 0 3px #03a9f4, 3px 0 0 3px #03a9f4, -3px 0 0 3px #03a9f4;
}

[type="radio"].cyan:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #00bcd4;
	box-shadow: 3px 0 #00bcd4, -3px 0 #00bcd4, 0 -3px #00bcd4, 0 3px #00bcd4, 6px 0 #00bcd4, -6px 0 #00bcd4, 0 -6px #00bcd4, 0 6px #00bcd4, 0 0 0 3px #00bcd4, 9px 0 #00bcd4, -9px 0 #00bcd4, 0 9px #00bcd4, 0 -9px #00bcd4, 0 -3px 0 3px #00bcd4, 0 3px 0 3px #00bcd4, 3px 0 0 3px #00bcd4, -3px 0 0 3px #00bcd4;
}

[type="radio"].cyan:not(:checked)+label:before, [type="radio"].cyan:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #00bcd4, -9px 0 #00bcd4, 0 9px #00bcd4, 0 -9px #00bcd4, 0 -3px 0 3px #00bcd4, 0 3px 0 3px #00bcd4, 3px 0 0 3px #00bcd4, -3px 0 0 3px #00bcd4;
}

[type="radio"].teal:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #009688;
	box-shadow: 3px 0 #009688, -3px 0 #009688, 0 -3px #009688, 0 3px #009688, 6px 0 #009688, -6px 0 #009688, 0 -6px #009688, 0 6px #009688, 0 0 0 3px #009688, 9px 0 #009688, -9px 0 #009688, 0 9px #009688, 0 -9px #009688, 0 -3px 0 3px #009688, 0 3px 0 3px #009688, 3px 0 0 3px #009688, -3px 0 0 3px #009688;
}

[type="radio"].teal:not(:checked)+label:before, [type="radio"].teal:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #009688, -9px 0 #009688, 0 9px #009688, 0 -9px #009688, 0 -3px 0 3px #009688, 0 3px 0 3px #009688, 3px 0 0 3px #009688, -3px 0 0 3px #009688;
}

[type="radio"].green:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #4caf50;
	box-shadow: 3px 0 #4caf50, -3px 0 #4caf50, 0 -3px #4caf50, 0 3px #4caf50, 6px 0 #4caf50, -6px 0 #4caf50, 0 -6px #4caf50, 0 6px #4caf50, 0 0 0 3px #4caf50, 9px 0 #4caf50, -9px 0 #4caf50, 0 9px #4caf50, 0 -9px #4caf50, 0 -3px 0 3px #4caf50, 0 3px 0 3px #4caf50, 3px 0 0 3px #4caf50, -3px 0 0 3px #4caf50;
}

[type="radio"].green:not(:checked)+label:before, [type="radio"].green:not(:checked)+label:after {
  box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #4caf50, -9px 0 #4caf50, 0 9px #4caf50, 0 -9px #4caf50, 0 -3px 0 3px #4caf50, 0 3px 0 3px #4caf50, 3px 0 0 3px #4caf50, -3px 0 0 3px #4caf50;
}

[type="radio"].light-green:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #8bc34a;
	box-shadow: 3px 0 #8bc34a, -3px 0 #8bc34a, 0 -3px #8bc34a, 0 3px #8bc34a, 6px 0 #8bc34a, -6px 0 #8bc34a, 0 -6px #8bc34a, 0 6px #8bc34a, 0 0 0 3px #8bc34a, 9px 0 #8bc34a, -9px 0 #8bc34a, 0 9px #8bc34a, 0 -9px #8bc34a, 0 -3px 0 3px #8bc34a, 0 3px 0 3px #8bc34a, 3px 0 0 3px #8bc34a, -3px 0 0 3px #8bc34a;
}

[type="radio"].light-green:not(:checked)+label:before, [type="radio"].light-green:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #8bc34a, -9px 0 #8bc34a, 0 9px #8bc34a, 0 -9px #8bc34a, 0 -3px 0 3px #8bc34a, 0 3px 0 3px #8bc34a, 3px 0 0 3px #8bc34a, -3px 0 0 3px #8bc34a;
}

[type="radio"].lime:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #cddc39;
	box-shadow: 3px 0 #cddc39, -3px 0 #cddc39, 0 -3px #cddc39, 0 3px #cddc39, 6px 0 #cddc39, -6px 0 #cddc39, 0 -6px #cddc39, 0 6px #cddc39, 0 0 0 3px #cddc39, 9px 0 #cddc39, -9px 0 #cddc39, 0 9px #cddc39, 0 -9px #cddc39, 0 -3px 0 3px #cddc39, 0 3px 0 3px #cddc39, 3px 0 0 3px #cddc39, -3px 0 0 3px #cddc39;
}

[type="radio"].lime:not(:checked)+label:before, [type="radio"].lime:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #cddc39, -9px 0 #cddc39, 0 9px #cddc39, 0 -9px #cddc39, 0 -3px 0 3px #cddc39, 0 3px 0 3px #cddc39, 3px 0 0 3px #cddc39, -3px 0 0 3px #cddc39;
}

[type="radio"].yellow:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #ffeb3b;
	box-shadow: 3px 0 #ffeb3b, -3px 0 #ffeb3b, 0 -3px #ffeb3b, 0 3px #ffeb3b, 6px 0 #ffeb3b, -6px 0 #ffeb3b, 0 -6px #ffeb3b, 0 6px #ffeb3b, 0 0 0 3px #ffeb3b, 9px 0 #ffeb3b, -9px 0 #ffeb3b, 0 9px #ffeb3b, 0 -9px #ffeb3b, 0 -3px 0 3px #ffeb3b, 0 3px 0 3px #ffeb3b, 3px 0 0 3px #ffeb3b, -3px 0 0 3px #ffeb3b;
}

[type="radio"].yellow:not(:checked)+label:before, [type="radio"].yellow:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #ffeb3b, -9px 0 #ffeb3b, 0 9px #ffeb3b, 0 -9px #ffeb3b, 0 -3px 0 3px #ffeb3b, 0 3px 0 3px #ffeb3b, 3px 0 0 3px #ffeb3b, -3px 0 0 3px #ffeb3b;
}

[type="radio"].amber:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #ffc107;
	box-shadow: 3px 0 #ffc107, -3px 0 #ffc107, 0 -3px #ffc107, 0 3px #ffc107, 6px 0 #ffc107, -6px 0 #ffc107, 0 -6px #ffc107, 0 6px #ffc107, 0 0 0 3px #ffc107, 9px 0 #ffc107, -9px 0 #ffc107, 0 9px #ffc107, 0 -9px #ffc107, 0 -3px 0 3px #ffc107, 0 3px 0 3px #ffc107, 3px 0 0 3px #ffc107, -3px 0 0 3px #ffc107;
}

[type="radio"].amber:not(:checked)+label:before, [type="radio"].amber:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #ffc107, -9px 0 #ffc107, 0 9px #ffc107, 0 -9px #ffc107, 0 -3px 0 3px #ffc107, 0 3px 0 3px #ffc107, 3px 0 0 3px #ffc107, -3px 0 0 3px #ffc107;
}

[type="radio"].orange:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #ff9800;
	box-shadow: 3px 0 #ff9800, -3px 0 #ff9800, 0 -3px #ff9800, 0 3px #ff9800, 6px 0 #ff9800, -6px 0 #ff9800, 0 -6px #ff9800, 0 6px #ff9800, 0 0 0 3px #ff9800, 9px 0 #ff9800, -9px 0 #ff9800, 0 9px #ff9800, 0 -9px #ff9800, 0 -3px 0 3px #ff9800, 0 3px 0 3px #ff9800, 3px 0 0 3px #ff9800, -3px 0 0 3px #ff9800;
}

[type="radio"].orange:not(:checked)+label:before, [type="radio"].orange:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #ff9800, -9px 0 #ff9800, 0 9px #ff9800, 0 -9px #ff9800, 0 -3px 0 3px #ff9800, 0 3px 0 3px #ff9800, 3px 0 0 3px #ff9800, -3px 0 0 3px #ff9800;
}

[type="radio"].deep-orange:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #ff5722;
	box-shadow: 3px 0 #ff5722, -3px 0 #ff5722, 0 -3px #ff5722, 0 3px #ff5722, 6px 0 #ff5722, -6px 0 #ff5722, 0 -6px #ff5722, 0 6px #ff5722, 0 0 0 3px #ff5722, 9px 0 #ff5722, -9px 0 #ff5722, 0 9px #ff5722, 0 -9px #ff5722, 0 -3px 0 3px #ff5722, 0 3px 0 3px #ff5722, 3px 0 0 3px #ff5722, -3px 0 0 3px #ff5722;
}

[type="radio"].deep-orange:not(:checked)+label:before, [type="radio"].deep-orange:not(:checked)+label:after {
	box-shadow: 3px 0 #eee, -3px 0 #eee, 0 -3px #eee, 0 3px #eee, 6px 0 #eee, -6px 0 #eee, 0 -6px #eee, 0 6px #eee, 0 0 0 3px #eee, 9px 0 #ff5722, -9px 0 #ff5722, 0 9px #ff5722, 0 -9px #ff5722, 0 -3px 0 3px #ff5722, 0 3px 0 3px #ff5722, 3px 0 0 3px #ff5722, -3px 0 0 3px #ff5722;
}

#playerNameInput {
	text-align: center;
	box-shadow: 4px 0 #eee, -4px 0 #eee, 0 -4px #eee, 0 4px #eee, 8px 0 black, -8px 0 black, 0 -8px black, 0 8px black, 0 0 0 4px black;
  margin: 8px auto;
	border: none;
	font-family: a15bit;
	font-size: 30px;
}

/*#playerNameInput {
	width: 100%;
	text-align: center;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	outline: none;
}*/

/*#playerNameInput:focus, #playerNameInput.focus {
	border: solid 1px #CCCCCC;
	box-shadow: 0 0 3px 1px #DDDDDD;
}*/

#startButton,
#loginButton,
#registerButton {
	position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	font-size: large;
	color: white;
	font-family: a15bit;
	font-size: 30px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #2ecc71;
	border: 0;
	border-bottom: 2px solid #28be68;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #28be68;
	box-shadow: inset 0 -2px #28be68;
	border-radius: 0;
	margin-bottom: 10px;
}

#loginButton,
#registerButton {
	width: 48%;
	font-size: 25px;
}

#startButton:active, #startButton:hover,
#loginButton:active, #loginButton:hover,
#registerButton:active, #registerButton:hover {
	top: 1px;
	background: #55D88B;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#startMenu h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

/*#startMenu ul {
	margin: 10px; padding: 10px;
	margin-top: 0;
}*/

#startMenu #input-error {
  color: transparent;
  font-size: 12px;
}

#leaderboard {
	position: absolute;
	right: 20px;
	top: 0;
	width: 300px;
	font-family: a15bit;
	font-size: 25px;
	text-align: center;
	color: #000;
	background-color: #fff;
}

#leaderboard-title {
	margin-top: 14px;
	margin-bottom: 35px;
	text-align: center;
	color: #fff;
	background-color: #f44336;
	box-shadow: 0 4px #f44336, 0 -4px #f44336, 4px 0 #f44336, -4px 0 #f44336, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
}

#leaderboard-title h1 {
	margin: 0;
	font-size: 50px;
}

#leaderboard-content {
	background-color: #eee;
	box-shadow: 0 4px #eee, 0 -4px #eee, 4px 0 #eee, -4px 0 #eee, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
}

#leaderboard .name,
#leaderboard .score {
	display: inline-block;
}

#leaderboard .name {
	width: 80%;
}

#leaderboard .score {
	font-family: bitcube;
	width: 20%;
	font-size: 30px;
}

/*#chat {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 300px;
	height: 500px;
	border: 1px solid black;
	text-align: center;
}*/

/*#chat form {
	position: absolute;
	bottom: 0;
	width: 100%
}

#chat input {
	width: 100%;
}

#chat input:focus {
	border-bottom: 2px solid #55D88B;
}*/

.toast {
  border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 300px;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: transparent;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #555;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*--------------------
Chat
--------------------*/
#chat {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 330px;
  height: 500px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
#chat-title {
  flex: 0 1 45px;
	margin: auto;
	margin-top: 10px;
  position: relative;
	width: 90%;
  z-index: 2;
  background: #f44336;
	box-shadow: 0 4px #f44336, 0 -4px #f44336, 4px 0 #f44336, -4px 0 #f44336, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
  color: #fff;
  text-align: center;
	font-family: a15bit;
}

#chat-title h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

/*--------------------
Messages
--------------------*/
#messages {
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;
  flex: 1 1 auto;
  color: #444;
	background: #eee;
	box-shadow: 0 4px #eee, 0 -4px #eee, 4px 0 #eee, -4px 0 #eee, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
  overflow: hidden;
  position: relative;
  width: 85%;
}
#messages #messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
	font-family: a15bit;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
	max-width: 100%;
	color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 1), 2px 0 1px rgba(0, 0, 0, 1);
	word-break: break-all;
}
#messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}
#messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}
#messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
#messages .message .avatar img {
  width: 100%;
  height: auto;
}
#messages .message.message-personal {
  float: right;
  text-align: right;
  background: #f44336;
  border-radius: 0;
}
#messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #f44336;
  bottom: -4px;
}
#messages .message:last-child {
  margin-bottom: 30px;
}
#messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
}
#messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  animation-delay: .15s;
}
#messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}
#messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
#messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  animation-delay: .3s;
}

/*--------------------
Message Box
--------------------*/
#message-box {
  flex: 0 1 40px;
	margin: auto;
	margin-bottom: 30px;
  width: 90%;
  background: #eee;
  padding: 10px;
  position: relative;
	box-shadow: 0 4px #eee, 0 -4px #eee, 4px 0 #eee, -4px 0 #eee, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
}
#message-box #message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: #444;
	font-family: a15bit;
  font-size: 30px;
	height: 35px;
  margin: 0;
  width: 100%;
}
/*#message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}*/
#message-box #message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background .2s ease;
	display: none;
}
/*#message-box #message-submit:hover {
  background: #1D7745;
}*/

/*--------------------
Bounce
--------------------*/
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
